In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn import datasets

In [3]:
iris = datasets.load_iris()

In [4]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [5]:
data = pd.DataFrame(iris.data)
target = pd.DataFrame(iris.target)
raw_data = pd.concat([data, target], axis=1)

In [6]:
raw_data.columns=['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)',
 'target']

In [7]:
raw_data.head(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [8]:
raw_data.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [9]:
raw_data['target'].value_counts()

0    50
1    50
2    50
Name: target, dtype: int64

In [11]:
raw_data.sort_values(by='petal length (cm)', ascending=False)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
118,7.7,2.6,6.9,2.3,2
122,7.7,2.8,6.7,2.0,2
117,7.7,3.8,6.7,2.2,2
105,7.6,3.0,6.6,2.1,2
131,7.9,3.8,6.4,2.0,2
...,...,...,...,...,...
16,5.4,3.9,1.3,0.4,0
35,5.0,3.2,1.2,0.2,0
14,5.8,4.0,1.2,0.2,0
13,4.3,3.0,1.1,0.1,0
22,4.6,3.6,1.0,0.2,0

In [12]:
raw_data[0:3]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0

In [13]:
x = raw_data[['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']]
y = raw_data['target']

In [14]:
x.head(5)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [15]:
y.tail(5)

145    2
146    2
147    2
148    2
149    2
Name: target, dtype: int64

In [16]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=0)

In [17]:
x_train.shape

(112, 4)

In [18]:
y_train.shape

(112,)

In [22]:
x_test.head()

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
114                5.8               2.8                5.1               2.4
62                 6.0               2.2                4.0               1.0
33                 5.5               4.2                1.4               0.2
107                7.3               2.9                6.3               1.8
7                  5.0               3.4                1.5               0.2

In [ ]:
%matplotlib inline

plt.title('test')
plt.plot([1,2,3,4],[2,4,8,6])
plt.xlabel('target')
plt.ylabel('petal length')
plt.show()

In [19]:
from sklearn.linear_model import LinearRegression

clf = LinearRegression()
clf.fit(x_train, y_train)
clf.predict(x_test)
clf.score(x_test, y_test)

0.888612359879597

In [20]:
from sklearn.linear_model import LogisticRegression

clf2 = LogisticRegression()
clf2.fit(x_train, y_train)
clf2.predict(x_test)
clf2.score(x_test, y_test)

/Users/0ys/opt/anaconda3/envs/DataMining/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.9736842105263158

In [55]:
from sklearn import tree

tr = tree.DecisionTreeClassifier()
tr.fit(x_train, y_train)
tr.predict(x_test)
tr.score(x_test, y_test)

0.9736842105263158

In [56]:
from sklearn import svm

sv = svm.SVC()
sv.fit(x_train, y_train)
sv.predict(x_test)
sv.score(x_test, y_test)

0.9736842105263158

In [57]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier()
rfc.fit(x_train, y_train)
rfc.predict(x_test)
rfc.score(x_test, y_test)

0.9736842105263158

In [58]:
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()
gnb.fit(x_train, y_train)
pred = gnb.predict(x_test)
gnb.score(x_test, y_test)

1.0

In [59]:
submission = pd.DataFrame({"pred": pred})

In [61]:
submission.to_csv('iris.csv')